<article class="card">
  <div class="card-body">
    <h3 class="card-title">Top Prospects</h3>
    <div>
      <ProspectsTable @model={{this.model}}></ProspectsTable>
    </div>
  </div>
  
</article>