<Page::Header @title="Customers" />
<Page::Content>
  <div class="d-flex justify-content-between align-content-center mb-3 form-inline">
    <h5 class="card-title">
      {{this.sortedCustomers.length}} Results
    </h5>
    <div>
      <select class="form-control" onchange={{action (mut this.sortProperty) value="target.value"}}>
        <option value="fullName" selected={{eq this.sortProperty "fullName"}}>
          Sort by name
        </option>
        <option value="fullName:desc">
          Sort by name (desc.)
        </option> 
        <option value="budget:desc">
          Sort by budget (desc.)
        </option>
      </select>
    </div>
  </div>
  <div class="card">
    <CustomersTable @model={{this.sortedCustomers}} />
  </div>
</Page::Content>