<Page::Header @title="Dashboard"></Page::Header>
  <Page::Content>
    <div class="d-flex container center mb-3 p-0 p-sm-3">
      <div class="row">
        <div class="col-md-5 p-0 p-sm-3">
          <GlanceView @model={{this.model}}></GlanceView>
        </div>
        <div class="col-md-7 p-0 p-sm-3">
          <TopProspects @model={{this.model}}></TopProspects>
        </div>
      </div>
    </div>
  </Page::Content>