<Page::Header @title="Dashboard"></Page::Header>
  <Page::Content>
    <div class="d-flex justify-content-between align-content center mb-3">
      <GlanceView @model={{this.model}}></GlanceView>
    </div>
  </Page::Content>